/ClasesGenericas/nbproject/private/
/ClasesGenericas/build/
/ApiColeccionesGenericas/nbproject/private/
/ApiColeccionesGenericas/build/
/ManejoArchivos/nbproject/private/
/ManejoArchivos/build/
/CatalogoPeliculas/nbproject/private/
/IntroduccionJDBC/target/
/ManejoJDBC/target/
/PracticaManejoJDBC/target/
/Prog2_Clase2/nbproject/private/
/Prog2_Clase2/build/
/ManejoJDBCTransacciones/target/
/PatronDManejoJDBCTransacciones/target/
/PoolConexiones/target/
/interesSimple/target/
/mensajes_app/target/
/Hilos/nbproject/private/
/Hilos/build/
/HilosConParametros/nbproject/private/
/HilosConParametros/build/
/Prog2_Clase3/nbproject/private/
/Prog2_Clase3/build/
/SIncronizacionHilos/nbproject/private/
/SIncronizacionHilos/build/
/ClaseMath/nbproject/private/
/ClaseMath/build/
