/ClasesGenericas/nbproject/private/
/ClasesGenericas/build/
/ApiColeccionesGenericas/nbproject/private/
/ApiColeccionesGenericas/build/
/ManejoArchivos/nbproject/private/
/ManejoArchivos/build/
/CatalogoPeliculas/nbproject/private/
/IntroduccionJDBC/target/
/ManejoJDBC/target/
/PracticaManejoJDBC/target/
/Prog2_Clase2/nbproject/private/
/Prog2_Clase2/build/
/ManejoJDBCTransacciones/target/
/PatronDManejoJDBCTransacciones/target/
